body {
    background-color: #d6e0e0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

h4 {
    margin: 0%;
}

header {
    text-align: center;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    animation: header_aparece 2s ease-in-out;
}

hr {
    margin: 0;
    border: none;
    border-top: 1px solid #ccc; /* Cor da linha */
}

.registro-manutencao {
    padding: 10px 0; 
    min-height: 40px; 
    display: flex;
    /* flex-direction: line;  */
    justify-content: center; 
}

.registro-manutencao h3 {
    margin: 0;
    padding: 5px 0;
    font-size: 1em; /* arrumar */
}

.botao-iniciar, .botao-finalizar {
    margin-top: 5px; /* Espaço entre o problema e o botão */
    padding: 5px 10px;
    border-style: solid;
    border-width: 1px;
    background-color: #285775;
    color: #ffffff;
    border-color: black;
    opacity: 100%;
    width: 25%;
    height: 25%;
    align-items: center;
    align-self: center;
    align-content: center;
    cursor: pointer;
}

#table1 {
    width: 100%;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}

#table1_centro {
    width: 100%;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}

#table2 {
    width: 30%;
    text-align: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}

#table2_centro {
    width: 30%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#table3 {
    width: 70%;
    display: flex;
    color: #6b7070;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}

#divbody {
    width: 100%;
    display: flex;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 0;
}

#table4 {
    width: 30%;
    text-align: center;
    justify-content: center;
    color: #828282;
    border-bottom: 1px solid #828282;
    font-family: 'Times New Roman', Times, serif;
}

#table4 h2 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

#table5 h2 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

#table5 {
    width: 70%;
    color: #828282;
    justify-content: center;
    border-left: 2px solid #828282;
    border-bottom: 1px solid #828282;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

footer {
    background-color: #285775;
    font-family: 'Times New Roman', Times, serif;
}

.white {
    background-color: white;
    text-align: center;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.white h5 {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

/*buton tem 3 pra poder controlar pelo CSS*/

#buton1 button {
    display: flex;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
}

#buton2 button {
    display: flex;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
}

#buton3 button {
    display: flex;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    font-family: 'Times New Roman', Times, serif;
}

#butoesjuntos {
    display: flex;
    text-align: center;
    text-decoration: none;
    color: black;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}

#divfinal {
    width: 100%;
    background-color: white;
    text-align: center;
    color: #828282;
    font-family: 'Times New Roman', Times, serif;
}

.white img {
    max-width: 40px;
    display: flex;
    margin: 3px;
    font-family: 'Times New Roman', Times, serif;
}

.white {
    display: flex;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.white a {
    display: flex;
    margin: 3px;
    text-decoration: none;
    color: black;
    
    font-family: 'Times New Roman', Times, serif;
}

#white_centro {

    background-color: white;

}

.menu-opcoes {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    list-style: none;
    padding: 10px 0;
    margin: 0;
    min-width: 120px;
    z-index: 100;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    animation: menu_ham 2s ease-in-out;
}

.menu-opcoes li {
    padding: 8px 20px;
    font-family: 'Times New Roman', Times, serif;
}

.menu-opcoes li a {
    text-decoration: none;
    color: #333;
    display: block;
    font-family: 'Times New Roman', Times, serif;
}

#menu-toggle:checked+.menu-icon+.menu-opcoes {
    display: block;
    font-family: 'Times New Roman', Times, serif;
}

nav.menu-hamburguer {
    margin: 10px;
}

input {
    all: unset;
    border: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    opacity: 0%;
}

label.menu-icon {
    margin: 11px;
    position: absolute;
    top: 65px;
    left: 1.2px;
    right: 5px;
}

@media (max-width: 560px) {
    #table1 {
        font-size: 10px;
    }

    #table2 {
        font-size: 10px;
    }

    #table3 {
        font-size: 10px;
    }

    #table4 {
        font-size: 10px;
    }

    #table5 {
        font-size: 10px;
    }

    #butoesjuntos {
        font-size: 10px;
    }

    #divfinal {
        font-size: 10px;
    }

    .white img {
        max-width: 40px;
        display: flex;
        margin: 3px;
    }

    .white {
        display: flex;
        margin: 0px;
    }

    .white a {
        display: flex;
        margin: 3px;
        font-size: 12px;
    }

}

@media (min-width: 668px) {

    #table1_centro {
    width: 100%;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    align-content: center;
    justify-content: center;
    }

    #table2_centro {
    width: 30%;
    text-align: center;
    justify-content: center;
    align-self: center;
    font-family: 'Times New Roman', Times, serif;
    }

    #white_centro {

        display: flex;

        justify-content: center;

        justify-content: space-between;
        
        padding-left: 300px;

        padding-right: 300px;

    }

    .white a {

        font-size: large;

    }

    .white img {

        height: 25px;

        width: 25px;

    }

}

@media (max-width: 667px) {

    #table1_centro {
    width: 100%;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    }

    #table2_centro {
    width: 30%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    }

    #white_centro {

        display: block;

    }

    .white a {

        font-size: 20px;

    }

    .white img {

        height: 20px;

        width: 20px;

    }

}


#trens {

    animation: tabela_principal_aparece 2s ease-in-out;

}

@keyframes header_aparece {

    from {

        transform: translateY(-200px);

    }

    to {

        transform: translateY(0);

    }

}

@keyframes menu_ham {

    from {

        opacity: 0;

    }

    to {

        opacity: 1;

    }

}
#alertas_tempo {

    animation: alertas_tempo_aparece 2s ease-in-out;

}

@keyframes alertas_tempo_aparece {

    from {

        opacity: 0;
        transform: translateX(-800px);

    }

    to {

        opacity: 1;
        transform: translateX(0);

    }

}


#reportar_problema {

    animation: problema_aparece 2s ease-in-out;

}

@keyframes problema_aparece {

    from {

        transform: translateY(200px);

    }

    to {

        transform: translateY(0);

    }

}


@keyframes tabela_principal_aparece {

    from {

        opacity: 0;
        transform: translateX(800px);

    }

    to {

        opacity: 1;
        transform: translateX(0);

    }

}

#BotaoSair {

    width: 100%;

    opacity: 100%;

}

body {

    background-color: azure;
    font-family: 'Times New Roman', Times, serif;

}



.Texto {

    border-style:solid;

    border-width: 1px;

    border-color: black;

    color: white;

    background-color: #35739b;

    opacity: 100%;

    width: 10%;

}

#TremData {

    border-style:solid;

    border-width: 1px;

    border-color: black;

    color: white;

    background-color: #35739b;

    opacity: 100%;

    width: 15%;

}


#BotaoEnviar {

    border-style:solid;

    border-width: 1px;

    border-color: black;

    color: white;

    background-color: #285775;

    opacity: 100%;

    width: 5%;

}

@media (max-width: 950px) {

    #BotaoEnviar{

        width: 13%;

    }

    .Texto {

        width: 50%;

    }

    #TremData {

        width: 40%;
    }

}


.menu-opcoes {
    display: none;
    position: absolute;
    top: 10px;
    left: 0;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    list-style: none;
    padding: 10px 0;
    margin: 0;
    min-width: 120px;
    z-index: 100;
    font-family: 'Times New Roman', Times, serif;
}

.menu-opcoes li {
    padding: 8px 20px;
    font-family: 'Times New Roman', Times, serif;
}

.menu-opcoes li a {
    text-decoration: none;
    color: #333;
    display: block;
    font-family: 'Times New Roman', Times, serif;
}

#menu-toggle:checked+.menu-icon+.menu-opcoes {
    display: block;
    font-family: 'Times New Roman', Times, serif;
}

nav.menu-hamburguer {
    margin: 10px;
}

input {
    all: unset;
    border: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    opacity: 0%;
}

label.menu-icon {
    margin: 11px;
    position: absolute;
    top: 8px;
    left: 1.2px;
    right: 5px;
}

#BotaoSair {

    width: 100%;

    opacity: 100%;

}

.BotaoResolver {

    opacity: 100%;
    width: 100%;

    border-style:solid;

    border-width: 1px;

    background-color: #285775;

    color: #ffffff;

    border-color: black;

    border-radius: 4px;

    text-decoration: none;

    margin-left: 1%;

    max-width: 160px;
    cursor: pointer;
}