* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: #285775;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}

.form-group {
    align-items: center;
    align-content: center;
    text-align: center;
}

#login {
    background-color: #285775;
    color: white;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-family: 'Times New Roman', Times, serif;
    z-index: 1;
}

#logo {
    max-width: 400px;
    width: 100%;
    max-height: 120px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 30px;
}

.entrar {
    font-size: 18px;
    color: white;
    margin: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

label {
    font-size: 18px;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.BotaoContinuar {
    background-color: #43718d;
    border-color: #ffff;
    border-style: solid;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 7%;
    padding: 15px 32px;
    text-align: center;
    display: block;
    margin: 5px auto;
    transition: background-color 0.3s;
    font-family: 'Times New Roman', Times, serif;
}

.BotaoContinuar:hover {
    background-color: #34566b;
    font-family: 'Times New Roman', Times, serif
}

input[type="text"],
input[type="tel"],
input[type="date"],
input[type="email"],
input[type="password"] {
    width: 50%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 2px solid white;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, #244e68, #43718d);
    font-family: 'Times New Roman', Times, serif;
}

#gestor {

    width: 50%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 2px solid white;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, #244e68, #43718d);
    font-family: 'Times New Roman', Times, serif;

}

#cargo {
    width: 52%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 2px solid white;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, #244e68, #43718d);
    font-family: 'Times New Roman', Times, serif;
}

.mostrarsenha {
    font-size: 18px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    align-content: center;
    text-align: center;
}

.mostrarsenha:hover {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.678);
    font-family: 'Times New Roman', Times, serif;
}

@keyframes vem-de-cima {
    from {
        opacity: 0;
        transform: translateY(100px);
        z-index: 1;
    }

    to {
        opacity: 1;
        transform: translateY(0);
        z-index: 1;
    }
}

#login {
    animation: vem-de-cima 2s ease-in-out;
    z-index: 1;
}

@media (max-width: 600px) {
    
    #logo {
        max-width: 200px;
    }
}


.erro {

    position: fixed;

    top: 10%;

    left: 10%;

    width: 80%;

    height: 80%;

    background-color: #43718d;

    color: white;

    align-items: center;

    align-content: center;

    text-align: center;

    z-index: 11;

}

.erroTexto {

    background-color: #43718d;

    font-size: 600%;

}

.BotaoOk {

    background-color: #285775;

    width: 15%;

    font-size: 500%;

    border-style: solid;

    border-color: white;

    align-self: center;

    margin: auto;

    cursor: pointer;

    text-decoration: none;

}

@media (max-width: 1000px) {
    
    .erroTexto {

        font-size: 400%;

    }

    .BotaoOk {

        font-size: 300%;

    }
}