* {
    margin: 0%;
    padding: 0%;
}

header {
    padding: 5px 60px;
    padding-left: 60px;
    padding-right: 60px;
    color: white;
    background-color: #285775;
    display: flex;
    max-width: 100%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}


footer {
    padding: 5px 60px;
    padding-left: 60px;
    padding-right: 60px;
    color: white;
    background-color: #285775;
    text-align: center;
    max-width: 100%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.menu-opcoes {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    list-style: none;
    padding: 10px 0;
    margin: 0;
    min-width: 120px;
    z-index: 100;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    animation: menu_ham 2s ease-in-out;
}

.menu-opcoes li {
    padding: 8px 20px;
    font-family: 'Times New Roman', Times, serif;
}

.menu-opcoes li a {
    text-decoration: none;
    color: #333;
    display: block;
    font-family: 'Times New Roman', Times, serif;
}

#menu-toggle:checked+.menu-icon+.menu-opcoes {
    display: block;
    font-family: 'Times New Roman', Times, serif;

}

nav.menu-hamburguer {
    margin: 10px;
}

input {
    all: unset;
    border: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    opacity: 0%;
}

label.menu-icon {
    margin: 11px;
    
    position: absolute;

    right: 4.2%;
    top: 0.5%;

}

.bolinha_imagem {
    text-align: center;
    background-color: #ccc;
    border-radius: 100%;
    padding: 50px 50px;
    margin: auto;
    max-width: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.logo_topo {
    max-width: 20%;

    border-style: solid;

    border-width: 1px;

    background-color: #285775;

    color: #ffffff;

    border-color: black;

    border-radius: 4px;

    text-decoration: none;

    margin-left: 11px;

    width: 100%;

    height: 80%;

    display: inline-block;

    text-align: center;

    line-height: 40px;

}

.organiza_flex {
    display: flex;
    margin: 6rem;
    border: 4rem;

}

.cor_pontos_um {
    background-color: #EEEEEE;
    margin: 6rem 6rem;
    padding: 2rem;
    border: 1rem;
    margin: 20px 0 20px 0;
    border: 2px solid white;
    
    padding-block: 4rem;
    border-radius: 1rem;

}

#topo_base {
    display: flex;
    align-items: center;
}

#parte_um {
    text-align: center;
    background-color: #35639B;
    padding: 3rem;
}

.bolinha_selecao {
    background-color: #35639B;
    border-radius: 100%;
    padding: 2rem 2rem;
    margin: 30px;
    width: 100%;
    max-width: 0px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}

.teste {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
}

#objetivo {
    background-color: #35739B;
    color: #ffffff;
    padding: 2rem;
    margin: 3rem;
    border-radius: 1rem;
}

.organizacao_centro {
    align-items: center;
    text-align: center;

}

#parte_dois {

    background-color: #EEEEEE;
}

#parte_tres {}