*{
    margin: 0%;
    padding: 0%;
}

header {
    padding: 5px 60px;
    padding-left: 60px;
    padding-right: 60px;
    color: white;
    background-color: #285775;
    display: flex;
    max-width: 100%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}


footer {
    padding: 5px 60px;
    padding-left: 60px;
    padding-right: 60px;
    color: white;
    background-color: #285775;
    text-align: center;
    max-width: 100%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.menu-opcoes {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    list-style: none;
    padding: 10px 0;
    margin: 0;
    min-width: 120px;
    z-index: 100;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    animation: menu_ham 2s ease-in-out;
}

.menu-opcoes li {
    padding: 8px 20px;
    font-family: 'Times New Roman', Times, serif;
}

.menu-opcoes li a {
    text-decoration: none;
    color: #333;
    display: block;
    font-family: 'Times New Roman', Times, serif;
}

#menu-toggle:checked+.menu-icon+.menu-opcoes {
    display: block;
    font-family: 'Times New Roman', Times, serif;
}

nav.menu-hamburguer {
    margin: 10px;
}

input {
    all: unset;
    border: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    opacity: 0%;
}

label.menu-icon {
    margin: 11px;
    position: absolute;
    top: 65px;
    left: 1.2px;
    right: 5px;
    
}

.bolinha_imagem {
    text-align: center;
    background-color: #ccc;
    border-radius: 100%;
    padding: 50px 50px;
    margin: auto;
    max-width: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.logo_topo {
    max-width: 20%;

    border-style:solid;

    border-width: 1px;

    background-color: #285775;

    color: #ffffff;

    border-color: black;

    border-radius: 4px;

    text-decoration: none;

    margin-left: 11px;

    width: 100%; 

    height: 80%; 

    display: inline-block; 

    text-align: center; 
    
    line-height: 40px; 

}



#topo_base {
    display: flex;
    align-items: center;
}